.rectangleStylise
{
    font-size:small;
}

.categories
{
    line-height:20px;
}

.lienProduitsVendeur
{
    margin-left:10px;
    font-size:small;
}

.vendeur
{
    font-size:small;
}

.sousTotal
{
    text-align:right;
}

.tableProduits
{
    border-collapse:collapse;
    margin:10px;
    width:350px;
}

.tableProduits td
{
    text-align:right;
}

.tableProduits td:first-child
{
    text-align:left;
}

.tableProduits th,td
{
    padding:5px;
    border: 1px dotted Black;
}

h2
{
    margin-top:-5px;
}