.categorie
{
    font-weight:bold;
}

.lienProduitsVendeur
{
    margin-left:10px;
    font-size:small;
}

.vendeur
{
    font-size:small;
}

.sousTotal
{
    text-align:right;
}

.catalogueGlobal
{
    margin:15px 0;
    font-weight:bold;
    font-size:x-large;
}

.aucunPanier
{
    font-size:bold;
    position:relative;
}
 
.aucunPanier img { 
    margin:auto;
    position:absolute;
    top:0;
    bottom:0;
}

.aucunPanier p { 
    margin-left:35px;
    max-width:300px;
}