.categories
{
    line-height:20px;
}

.categorie
{
    font-weight:bold;
}

.lienProduitsVendeur
{
    margin-left:10px;
    font-size:small;
}

.vendeur
{
    font-size:small;
}

.sousTotal
{
    text-align:right;
}

.catalogueGlobal
{
    margin:15px 0;
    font-weight:bold;
    font-size:x-large;
}