.description
{
    max-width:350px;
    display:block;
}

.pnlDetails
{
    font-size:large;
}

.boiteImageProduit > div
{
    padding:10px;
}

.boiteImageProduit img
{
    max-width:400px;
    max-height:400px;
}