.description
{
    max-width:250px;
    display:block;
    overflow:hidden;
}

.pnlDetails
{
    font-size:medium;
}

.boiteImageProduit > div
{
    padding:10px;
}

.boiteImageProduit img
{
    max-width:300px;
    max-height:300px;
}