.rectangleProduits
{
    width:370px;
    font-size:small;
}

.boiteDetailsProduit > div
{
    display:table-cell;
    height:195px;
    vertical-align:middle;
}

.boiteDetailsProduit > div > *
{
    display:block;
    line-height:25px;
    margin-left:10px;
}

.pnlDroite td
{
    padding:5px;
}

.grandTotal
{
    border-top:1px solid Gray;
}

.tauxTaxes
{
    font-size:small;
}

.boiteImageProduit > div
{
    height:180px;
    width:180px;
}

.boiteImageProduit img
{
    max-width:165px;
    max-height:165px;
}