.rectangleProduits > *
{
    display:block;
}

.rectangleProduits
{
    width:185px;
    font-size:x-small;
}

.boiteListeDeroulante
{
    margin:0 10px;
}

.barreListesDeroulantes
{
    text-align:center;
    border-bottom:5px dotted Gray;
    padding-bottom:10px;
    margin-bottom:5px;
}