.rectangleProduits
{
    width:195px;
    font-size:small;
    text-align:center;
}

.boiteImageProduit > div
{
    height:195px;
    width:195px;
}

.boiteImageProduit img
{
    max-width:185px;
    max-height:185px;
}

.titreRectangle
{
    height:35px;
    display: table;
    float: left;
    vertical-align:middle;
    overflow:hidden;
}

.titreRectangle > div
{
    width:195px;
    display: table-cell;
    vertical-align: middle;
}

.titreRectangle a
{
    display: block;
    margin: auto;
    font-weight: bold;
}

.detailsProduit *
{
    font-size:smaller;
    display:block;
}

.largeurFixeCritere
{
    width:185px;
}

.listeCochable
{
    max-height:50px;
    display:inline-block;
    width:185px;
    height:50px;
}

.listeCochable > div
{
    border: 1px solid black;
    text-align:left;
    max-height:50px;
    font-size: x-small;
    width:185px;
    transition:max-height 0.5s linear 0.5s;
    overflow:auto;
    position:absolute;
    background-color:White;
    z-index:100;
}

.listeCochable > div:hover
{
    max-height:180px;
}

.listeCochable *
{
    vertical-align:middle;
}