html
{
    height:100%;
}

body
{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Segoe UI';
    margin: 0 auto;
}

.imageFond
{
    background-image:url('../Images/Fond/centre-achat.jpg');
    background-attachment: fixed;
    background-size:100vw 100vh;
}

a
{ 
    color:#0052AE;
    text-decoration:none;
}

form
{
    position: relative;
}

.page
{
    text-align: center;
}

.page > div
{
    text-align: left;
    width: 1200px;
    background-color:rgba(255, 255, 255 , 0.75);
    padding:10px;
    margin: 10px auto;
    border-radius: 10px;
}

.footer
{
    text-align: right;
}

.formulaire
{
    table-layout: fixed;
    width: 500px;
}

.formulaire td
{
    height: 30px;
}

.erreur, .erreur > *
{
    font-size: 10px;
    line-height: 10px;
    color: Red;
    text-align:left;
    font-style: italic;
    vertical-align: middle;
}

.titre
{
    font-size: xx-large;
    font-weight: bold;
}

.droitePageMaitre
{
    float: right;
    vertical-align: middle;
    font-weight: bold;
    font-size: larger;
    display:table-cell;
    height: 50px;
    text-align:right;
}

.menu div
{
    height: 25px;
    display:inline-block;
}

.centerChildDiv
{
    text-align: center;
}

.centerChildDiv > div
{
    display: inline-block;
    text-align: left;
}

.titreVendeur
{
    font-size:xx-large;
    font-weight:bold;
    vertical-align:middle;
}

.barreVendeur
{
    border: 1px solid #555555;
    border-radius: 10px;
    padding: 5px;
}

.boiteImageProduit
{
    margin: 5px 0;
    display: inline-block;
    float: left;
    border: 1px solid Black;
}

.boiteImageProduit > div
{
    display: table-cell;
    vertical-align: middle;
    background-color: White;
}

.boiteImageProduit img
{
    display: block;
    margin: auto;
}

.lignePointilleHorizontale
{
    border-bottom: 5px dotted Gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    clear:both;
}

.pleineLargeur
{
    width: 100%;
}

.panneau
{
   height:100%;
   
   display:table-cell;
   padding-top:10px;
   padding-left:20px;
   padding-right:20px;
   vertical-align: top;
   
   position:relative;
}

.panneau h2:first-child
{
    margin-top:-5px;
}

.pnlGauche {}

.pnlDroite
{
    /*float: right;*/
    border-left: 5px dotted Gray;
    /*padding-left: 20px;*/
    /*margin-left: 20px;
    /*display: inline-block;*/    
}

.pnlDetails td
{
    vertical-align: top;
    padding: 5px;
}

.boiteQuantite
{
    width: 30px;
}

.pnlDetails td:first-child 
{ 
    text-align: right
}

.tableProduits
{
    border-collapse:collapse;
    margin:10px;
    width:400px;
    font-size:small;
}

.tableProduits td
{
    text-align:right;
}

.tableProduits td:first-child
{
    text-align:left;
}

.tableProduits th, .tableProduits td
{
    padding:5px;
    border: 1px dotted Black;
}

.tableProfil th, .tableProfil td:not(.erreur), .tableCarteCredit td, .tableCarteCredit td:not(.erreur)
{
    padding:3px;
    font-size:large;
}

.tableProfil td:first-child
{
    text-align:right;
}
 
.rectangleItem
{
    padding:10px;
    overflow:hidden;
    border:1px solid Black;
    margin:10px;
    box-shadow: 3px 3px 4px Gray;
}

.rectangleItemT
{
    padding:10px;
    overflow:hidden;
    border:1px solid Black;
    margin:10px;
    box-shadow: 3px 3px 35px Gray;
}

.hautRectangle
{
    background-color: #555555;
    border-radius: 10px 10px 0 0;
    border-bottom-style: none; 
    margin-bottom:0;
    color:White;
}

.hautRectangle *
{
    color:White;
}

.basRectangle
{
    background-color: LightGray;
    border-radius: 0 0 10px 10px;
    border-top-style: none; 
    margin-top:0;
}

.rectangleComplet
{
    background-color: LightGray;
    border-radius: 10px;
}

.tableFacture
{
    font-size:x-large;
    text-align:right;
}

.popupMenu
{
    text-align:left;
    background-color:rgba(211,211,211,0.75);
    border: 3px dashed Gray;
}

.popupMenu li
{
    padding: 0px !important;
    margin: 0px !important;
}

.popupMenu li a
{
    padding: 10px !important;
}

.categories
{
    padding-right:15px;
    line-height:20px;
}

.barreListesDeroulantes
{
    text-align:center;
}

.tauxTaxes
{
    font-size:small;
}

.infoAuCentre
{
    text-align:center;
}

.leftNavigation
{
    position:absolute;
    left:0;
}

.rightNavigation
{
    position:absolute;
    right:0;
}

.navigation > div
{
    margin:0 15px;
    display:inline;
}

.barreNavigation
{
    position:relative;
    width:100%;
    text-align:center !important;
}

.navigation input
{
    height:16px;
    vertical-align:middle;
}

.navigation span
{
    vertical-align:middle;
}

.bonjour
{
    font-size:small;
    font-weight:normal;
    margin-right:10px;
    line-height:25px;
}

.nomUtilisateur
{
    font-weight:bold; 
}

.etoiles
{
    float:right;
}

.etoiles input
{
    height:16px;
    vertical-align:middle;
}

.evaluation
{
    width:350px;
}

.commentaireEvaluation
{
    width:100%;
    box-sizing:border-box;
}

.boutonSoumettre
{
    margin-top:5px;
    float:right;
}

.boutonApresTitre
{
    display:inline;
    vertical-align:middle;
}

.coteMoyenne
{
    font-weight:bold;
}

.boutonAjouterLaMienne
{
    display:block;
    margin-top:15px;
}

.boutonsAction
{
    text-align:center;
}

.boutonsAction input
{
    margin:5px;
    font-size:x-large;
}

.colonneTitre td:first-child
{
    text-align:right;
}

.boiteListeDeroulante
{
    font-size:small;
    display:inline-block;
    vertical-align:top;
    margin:5px;
}

.boiteListeDeroulante *
{
    vertical-align:top;
}

.boiteListeDeroulante > input, .boiteListeDeroulante > select
{
    vertical-align:middle !important;
}

.messageCentral
{
    font-weight:bold;
    margin:75px 15px;
    text-align:center !important;
    font-size:large;
    color:Red;
}

.formulaireConnexion
{
    width:auto;
}

.boutonsConnexion
{
    margin:10px;
    text-align:center;
}

.rectangleCommande .montantsFactures *
{
    font-size:x-small !important;
}

.rectangleCommande .basRectangle
{
    font-size:small !important;
    position:relative;
}

.statutLivraison
{
    left:10px;
    bottom:10px;
    position:absolute;
    font-size:large;
}

.boutonCommande
{
    clear:both;
    text-align:right;
    padding-top:5px;
}

.bonCommande
{
    border:1px solid Black;
    margin:15px;
}

@media print
{    
    .noPrint, .noPrint *
    {
        display: none !important;
    }
    
    .page > div
    {
        width: auto;
    }
}

.gauchePageMaitre
{
    margin-top:-15px;
    margin-bottom:-10px;    
    display:inline-block;
    vertical-align:middle;
}

.logo
{
    vertical-align:middle;
}

.ui-datepicker
{
    font-size: x-small;
}

.rectanglePartieTitre
{
    display:inline-block;
    padding:5px 15px;
    height:75px;
    overflow:hidden;
    border:1px solid Black;
}

.rectangleTitreGauche
{
    border-radius: 10px 0 0 10px;
    border-right-style: none; 
    margin-right:0;
    float:left;
}

.rectangleTitreDroite
{
    background-color: #555555;
    border-radius: 0 10px 10px 0;
    border-left-style: none; 
    margin-left:0;
    float:right;
}

.rectangleTitreDroite a
{
    color:White;
    font-weight:bold;
}

.titreAvecLigne
{
    text-align:center;
    display:inline-block;
    width:100%;
}

.titreVendeurAvecMenu
{
    display:inline-block;
    box-shadow: 3px 3px 4px Gray;
    border-radius: 10px;
}

.logoVendeur
{
   vertical-align:middle;
   max-width:150px; 
   height:75px;
}

.boutonActionProduit
{
    margin-top:5px;
    margin-right:5px;
}

.boutonRetour
{
    margin-top:-5px;
}

.grandTotal
{
    border-top:1px solid Gray;
}

.pnlDroiteCommande
{
    float:right;
}

.rectangleCommande
{
    width:400px;
}

.rectangleTitreGauche .titreVendeur
{
    line-height:75px;
}

.messagePrixRevise
{
	color:Red;
	font-size:xx-small;
	position:absolute;
	bottom:5px;
}

.etoilePrixRevise
{
	color:Red;
}
    
.centre, .centre > *
{
    text-align:center;
}