#dtlProduits
{
	margin-left:auto;
	margin-right:auto;
}

.productRectangle > *
{
	display:block;
}

.titre_tab
{ 
	width:300px;
	padding:10px;
	background-color:black;
	border:1px solid black;
	font-size:small;
	border-radius:10px 10px 5px 5px;
	box-shadow: 3px 3px Gray;
	color: White;
}

.titre_tab2
{ 
	width:200px;
	padding:10px;
	background-color:black;
	border:1px solid black;
	font-size:small;
	border-radius:3px 3px 3px 3px;
	box-shadow: 3px 3px Gray;
	color: White;
	cursor: pointer;
}

.titre_tab3
{ 
	padding:10px;
	background-color:black;
	border:1px solid black;
	font-size:small;
	border-radius:3px 3px 3px 3px;
	box-shadow: 3px 3px Gray;
	color: White;
	cursor: pointer;
	margin-bottom: 5px;
}

.cont_tab
{ 
	width:275px;
	height:100px;
	padding:10px;
	background-color:LightGray;
	border:1px solid black;
	font-size:small;
	border-radius:5px 5px 10px 10px;
	box-shadow: 1px 1px 4px 4px Gray;
}

.cont_tab2
{ 
	padding:10px;
	background-color:LightGray;
	border:1px solid black;
	font-size:small;
	border-radius:5px 5px 10px 10px;
	box-shadow: 1px 1px 4px 4px Gray;
}

.cont_categorie
{ 
	padding:10px;
	border:1px solid black;
	font-size:small;
	border-radius:5px 5px 10px 10px;
	box-shadow: 1px 1px 4px 4px Gray;
}

.vendeur_innactif
{
	padding: 10px 20px 10px 10px;
	margin: 3px 5px 3px 5px;
	background-color: LightGray;
	border: 1px solid black;
	font-size:small;
	border-radius:3px 3px 5px 5px;
	box-shadow: 1px 1px 1px 1px Gray;
}

.table_conf_suppr
{
	padding: 5px 5px 5px 5px;
	margin: 3px 10px 3px 5px;
	background-color: LightBlue;
	border: 1px solid black;
	font-size: small;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 1px 1px Gray;
	display: none;
}

.titre_sec
{
	width: 580px;
	font-size: x-large;
	font-weight: bold;
	color: #7F8D82;
	font-family: Cambria;
	margin: 20px;
	padding: 10px;
	box-shadow: 1px 1px 4px 4px Gray;
}

.space_cell
{
	width:30px;
}

.a_droite
{
	text-align: right;    
}

.lien_boutton 
{	
	background-color:#000000;
	border:1px solid #ffffff;
	color:#ffffff;	
	font-style: italic;
	padding: 5px;	
	text-align:center;
	border-radius:5px 5px 5px 5px;
	width: 275px;
}

.boutton 
{	
	background-color:#000000;
	border:1px solid #ffffff;
	color:#ffffff;	
	font-style: italic;
	padding: 5px;	
	text-align:center;
	border-radius:5px 5px 5px 5px;
}

.ligne_info_demande
{
	display: none;
	width: inherit;
}

.remarque
{
	font-size: x-small;
	font-style: italic;
}

.center
{
	text-align: center;
}

.verdict_vendeur
{
	text-align: center;
}

a
{
	text-decoration: none;
}

.categories
{
	line-height:20px;
}

.categorie
{
	font-weight:bold;
}

.info_cellule, .tableProduits td
{
	color: #0052AE;
	text-align: left;
}

.vendeur
{
	font-size:small;
}

.ui-datepicker
{
	font-size: x-small;
}

.titre_vendeur_inactif1
{
	cursor: pointer;
}

.navigation > div
{
	margin: 0px 10px 0px 10px;
	display:inline;
}

.pnlGauche th
{
	text-align: left;
}

.tableProduits
{
	width: 100%;
}

#no_result
{
	display: none;
}

.boiteListeDeroulante
{
	margin:5px;
}

.boiteImageProduit
{
	width:175px;
	height:175px;
	margin:5px 0;
}

.boiteImageProduit div
{
	display:table-cell;
	height:175px;
	width:175px;
	vertical-align:middle;
	border:1px solid black;
	background-color:White;
}

.boiteImageProduit img
{
	max-width:150px;
	max-height:150px;
	display:block;
	margin:auto;
}

.boutonsCentre
{
	text-align:center;
}

#targetchart {
    width: 500px;
    height: 375px;
    padding: 4px;
    border: 1px solid #dddddd;
    background: #eeeeee
}

#targetchart h3 {
    text-align: center;
    margin: 0;  
}

.hautRectangle select, .hautRectangle option
{
    color: Black;
}

.montant
{
    text-align: right;
}

.table_avec_ligne td, .table_avec_ligne th
{
	padding:5px;
    border: 1px dotted Black;
}

.table_avec_ligne
{
    border-collapse:collapse;
    margin:10px;
    width:350px;
    font-size:small;
}