#dtlProduits
{
    margin-left:auto;
    margin-right:auto;
}

.productRectangle > *
{
    display:block;
}

.titre_tab
{ 
    width:300px;
    padding:10px;
    background-color:black;
    border:1px solid black;
    font-size:small;
    border-radius:10px 10px 5px 5px;
    box-shadow: 3px 3px Gray;
    color: White;
}

.titre_tab2
{ 
    width:200px;
    padding:10px;
    background-color:black;
    border:1px solid black;
    font-size:small;
    border-radius:3px 3px 3px 3px;
    box-shadow: 3px 3px Gray;
    color: White;
    cursor: pointer;
}

.cont_tab
{ 
    width:275px;
    height:100px;
    padding:10px;
    background-color:LightGray;
    border:1px solid black;
    font-size:small;
    border-radius:5px 5px 10px 10px;
    box-shadow: 1px 1px 4px 4px Gray;
}

.cont_tab2
{ 
    padding:10px;
    background-color:LightGray;
    border:1px solid black;
    font-size:small;
    border-radius:5px 5px 10px 10px;
    box-shadow: 1px 1px 4px 4px Gray;
}

.titre_sec
{
    width: 580px;
    font-size: x-large;
    font-weight: bold;
    color: #7F8D82;
    font-family: Cambria;
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 1px 4px 4px Gray;
}

.space_cell
{
    width:30px;
}

.lien_boutton {	
	background-color:#000000;
	border:1px solid #ffffff;
	color:#ffffff;
	
	font-style: italic;
	padding: 5px;	
	text-align:center;
    border-radius:5px 5px 5px 5px;
    width: 275px;
}

.boutton {	
	background-color:#000000;
	border:1px solid #ffffff;
	color:#ffffff;	
	font-style: italic;
	padding: 5px;	
	text-align:center;
    border-radius:5px 5px 5px 5px;
}

.ligne_info_demande
{
    display: none;
    width: inherit;
}

.remarque
{
    font-size: x-small;
    font-style: italic;
}

.center
{
    text-align: center;
}

.verdict_vendeur
{
    display: none;
}

a
{
    text-decoration: none;
}

.boiteListeDeroulante
{
    margin:5px;
}

.boiteImageProduit
{
    width:175px;
    height:175px;
    margin:5px 0;
}

.boiteImageProduit div
{
    display:table-cell;
    height:175px;
    width:175px;
    vertical-align:middle;
    border:1px solid black;
    background-color:White;
}

.boiteImageProduit img
{
    max-width:150px;
    max-height:150px;
    display:block;
    margin:auto;
}